profiles {
    uva {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = params.apptainer_cache_dir
        apptainer.pull = false
        apptainer.pullTimeout = 1.h
        process {
            executor = 'slurm'
            beforeScript = 'module load apptainer'
            queue = params.queue
            cpus = 6
            memory = 53.GB
            time = 10.h
            clusterOptions = params.clusterOptions
            resourceLimits = [
                memory: 800.GB,
                cpus: 20,
                time: 100.h
            ]

            withName: cluster_into_isoforms {
                cpus = 20
                memory = 180.GB
            }
            withName: align_sample {
                cpus = 20
                memory = 180.GB
            }
            withName: initialize_run_talon {
                cpus = 20
                memory = 360.GB
                time = 48.h
            }
            withName: get_abundance {
                memory = 100.GB
            }
        }
    }
}
